In [0]:
#Import of libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
import seaborn as sb
import csv
import time
from google.colab import files
%matplotlib inline

In [0]:
#Upload dataset
uploaded = files.upload()

In [0]:
#Read dataset
df= pd.read_csv('trips.csv')
db = df

In [0]:
#Elimination of standardized lines in the Tstart column
db = db.drop(db[db['Tstart'].map(len) < 19].index)

#Update index of dataset
lista = []
for i in range(len(db['Tstart'].index)):
  lista.append(i)
db.index = lista

In [0]:
#Elimination of standardized lines in the Tend column
db = db.drop(db[db['Tend'].map(len) < 19].index)
#Update index of dataset
lista = []
for i in range(len(db['Tend'].index)):
  lista.append(i)
db.index = lista

In [0]:
#Method of convertion Date to Unix Timestamp
def convertToUnixTimestamp(element):
  if(len(element) < 19):
    timestamp = time.mktime(time.strptime(element, '%Y-%m-%d %H:%M:%S'))
    return timestamp
  date = element.split('.')
  date[0]
  timestamp = time.mktime(time.strptime(date[0], '%Y-%m-%d %H:%M:%S'))
  return timestamp

In [0]:
#Convert Date to Unix Timestamp
timeNewStart = []
timeNewEnd = []

for i in range(len(db["Tstart"].index)):
  timestamp_start = convertToUnixTimestamp(db["Tstart"][i])
  timestamp_end = convertToUnixTimestamp(db["Tend"][i])

  timeNewStart.append(timestamp_start)
  timeNewEnd.append(timestamp_end)

db['TstartTimestamp'] =  timeNewStart
db['TendTimestamp'] =  timeNewEnd

In [0]:
teste = db
teste

In [0]:
#Verify null values of dataset
teste.isnull().sum()

In [0]:
#Verify nan values of dataset
teste.isna().sum()

In [0]:
#Create CSV of updated dataset
teste.to_csv('TripsNormalizada300ComId.csv', index=True) 
files.download('TripsNormalizada300ComId.csv')